html {
  box-sizing: border-box;
  font-family: Merriweather, serif;
  line-height: 1.5;
}
*, *::before, *::after {
  box-sizing: inherit;
}

body {
  font-size: .9rem;
  margin: 0;
  padding: 0;
}

main {
	@ -21,39 +23,49 @@ main {
  gap: .75rem;
}

header {
  margin: 1rem;
}

h1 {
  font-size: 1.7rem;
  margin-bottom: 2rem;
}

h2 {
  font-size: 1.3rem;
  margin: 0;
}

main > img {
  grid-area: banner;
  max-width: inherit;
}

h1 h2 dt {
  font-style: italic;
}

figcaption {
  padding: .2rem 1.2rem;
}

figure {
  margin: 0;
}

img {
  width: 100%;
}

.banner-image {
  display: grid;
  grid-area: banner;
}

.banner-text {
  grid-area: banner;
  color: white;
  align-self: end;
  padding: 1.5rem 1rem;
}
