html {
  box-sizing: border-box;
  line-height: 1.5;
  font-family: Merriweather, serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

main {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas:
    "banner banner banner"
    "space-1 space-2 space-3";
  gap: .75rem;
}

h1 {
  font-size: 1.7rem;
  margin-bottom: 2rem;
  font-style: italic;
  font-weight: 500;
}

h2 {
  font-size: 1.3rem;
  font-style: italic;
  font-weight: 500;
}

dt {
  font-style: italic;
}

img {
  width: 100%;
}

.banner-photo {
  grid-area: banner;
  max-width: inherit;
  display: grid;
}

.banner-title {
  align-self: end;
  color: #fff;
}

figure {
  margin: 0;
}

figcaption {
  padding: .2rem 1.2rem;
}
